<section class="text-center vh-100">
    <div class="d-flex flex-column justify-content-center align-items-center vh-100">
        <div class="rounded-5 p-5">
            <h1 class="text-white">Welcome to JustDoIt</h1>
            <p class="text-white">Start now and stay on track with JustDoIt!</p>
            <input type="text" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Enter Your Name:">
            <button type="button" class="btn btn-success">Do It!</button>
        </div>
    </div>
</section>